@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
  margin: 0;
  font
  font-family:'Montserrat' sans-serif;
}
nav{
  display: flex;
}

.title1{
  width: 400px;
  height: 50px;
}

.title2{
  width: 400px;
  height: 50px;
}
.title3{
  width: 400px;
  height: 50px;
  margin-bottom: 30px;
}
.row1{
  text-align: center;
  height: 50px;
  border-color: #E8E6E6;
  font-weight: 150;
  font-size: 130%;
}
.row2{
  text-align: center;
  height: 50px;
  font-size: 200%;
}

.container2{
  margin-left: 150px;
  width: 500px;
}
.container3{
  margin-left: 150px;
  width: 500px;
}
.container4{
  margin-left: 150px;
  width: 500px;
}
.container5{
  margin-left: 150px;
  width: 500px;
}
.container6{
  margin-left: 150px;
  width: 800px;
}
.analytics1{
  display: flex;
  justify-content: center;
  font-size: 150%
}
.analytics2{
  display: flex;
  justify-content: center;
}
.analytics3{
  display: flex;
  justify-content: center;
  font-size: 125%;
}
.container7{
  margin-left: 120px;
  display: flex;
  justify-content: center;
}
.container8{
  margin-left: 150px;
  width: 300px;
}

.integrations1{
  font-size: 300%;
}
.container9{
  margin-left: 100px;
  margin-right: 100px;
}
.end2{
  font-size: 120%;
  font-style: italic;
}
/* a{
  color: #FFFFFF;
} */
.footer-container{
  background-color: #A9A9A9;
  padding: 50px 0 20px;

}
a{
  color: #FFFFFF;
  margin: 10px 20px;
  text-decoration: none;

}
a.hover{
  color: #FFFFFF;
}
